body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: grey;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
span{
  color: navy;
  }
.left{
  float: left;
}
.right{
  float: right;
}
.card{
  width: 45%;

}
.tile-image{
  height: 200px;
  float: left;
  margin: 50px;
}
@media (max-width : 680px) {
  .logo{
    width: 100px;
  }
  h1{
    text-align: center;
    font-size: 3.5rem;
  }
  .card{
   display: block;
   width: 100%;
    margin-bottom: 30px;
    margin-left: 0px ;
    text-align: justify;
    float: inherit;
  }
  .card img {
    margin-bottom: 10px;
    display: inline;
    width: 100%;
    margin-left:0px ;
    object-fit: cover;
    float: initial;
  }




}

